<!Doctype html>
<html>
	<head>
		<title>CMSNode: a project on content management.</title>
		<link href='/css/style.css' rel='stylesheet' type='text/css'>
		<link href=''>
		<meta name='author' content='Zachary MacKeil'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	</head>
	<body>
		<div id='nav-bar'>
			<ul class='nav'>
				<li class='nav-item'><a id='home' href='#'>Home</a></li>
				<li class='nav-item'><a id='login' href='#'>Login</a></li>
				<li class='nav-item'><a id='signup' href='#'>Signup</a></li>
				<li class='nav-item' id='about'><a id='about' href='#'>About</a></li>
			<ul> 
		</div>
		<div id='div-home'></div>
		<div id='div-login' class='hidden'>
			<form method='post' action='/login'>
				<input type='text' name='uname' placeholder='Username'><br>
				<input type='password' name='pwd' placeholder='Password'><br>
				<input type='submit' value='Login'>
				<input type='reset'>
			</form>
		</div>
		<div id='div-signup' class='hidden'>
			<form action='/signup' method='post'>
				<input type='text' name='usrname' placeholder='Username'><br>
				<input type='password' name='pwd1' placeholder='Password'><br>
				<input type='password' name='pwd2' placeholder='Confirm Password'><br>
				<input type='text' name='name' placeholder='Your Name'><br>
				<input type='email' name='email' placeholder='Your Email Address'><br>
				<input type='submit' value='Sign Up'>
				<input type='reset'>
			</form>
		</div>
		<div id='div-about' class='hidden'>
			<h3>about</h3><br>
			<p>This is a simple Content Management System (CMS) coded in Node.js.<br>Written partly to showcase of my capabilities.</p>
		</div>
		<div class='footer'>
			<span id='author'>Author: Zachary MacKeil</span>
			<a href='github.com/MacKeil' class='footer-link'>Visit My Github</a>
		</div>
		<script src='/js/script.js'></script>
	</body>
</html>
